{% extends 'base.html.twig' %}

{% block title %}Titulo index{% endblock %}

{% block body %}
    <h1>Titulo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>AnioEgreso</th>
                <th>Promedio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for titulo in titulos %}
            <tr>
                <td>{{ titulo.id }}</td>
                <td>{{ titulo.descripcion }}</td>
                <td>{{ titulo.anioEgreso }}</td>
                <td>{{ titulo.promedio }}</td>
                <td>
                    <a href="{{ path('app_titulo_show', {'id': titulo.id}) }}">show</a>
                    <a href="{{ path('app_titulo_edit', {'id': titulo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_titulo_new') }}">Create new</a>
{% endblock %}
