{% extends 'base.html.twig' %}

{% block title %}Persona index{% endblock %}

{% block body %}
    <h1>Persona index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>FechaNacimiento</th>
                <th>DniPasaporte</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Domicilio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.fechaNacimiento ? persona.fechaNacimiento|date('Y-m-d') : '' }}</td>
                <td>{{ persona.dniPasaporte }}</td>
                <td>{{ persona.email }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.domicilio }}</td>
                <td>
                    <a href="{{ path('app_persona_show', {'id': persona.id}) }}">show</a>
                    <a href="{{ path('app_persona_edit', {'id': persona.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_persona_new') }}">Create new</a>
{% endblock %}
